@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4"> Hoşgeldiniz ! </h1>
    <p>Kayıt olmak için <a href="http://localhost:5071/account/register">tıklayınız</a>.</p>
    <p>Kayıtlı iseniz giriş için <a href="http://localhost:5071/Account/Login">tıklayınız</a>.</p>
</div>
